/*--------- WPRESS Blog */
/*--------- Multilanguage -- */
/*--------- My custom exception -- */


/* main menu link color */
.black a {color:black !important;;}

.pointer{cursor:pointer;}

/* Home page CPH image */
.my-cph {width:45%; padding:0.1em; border: 4px solid white;}
 
 /* Mobile */
 @media screen and (max-width: 480px) { 
   .my-cph {width:75%; padding:0.2em; border: 1px solid white;}
   .my-title {font-size: 3em;} /* Main title -> Laravel CPH 2019 */
 }

/* background CPH image on home page */ 
.home-wall{background-image: url("../images/cph.jpg");
           background-color: #cccccc;
		   } 
.home-page-links a {color:black; padding:0.1em; background:white; border:1px solid black;}
.border-x{border:1px solid black;}
 
 /* image for wp blog entries */
 .img-wpblog{width:15%; padding:1em;}
 
 
 /* Mobile */
 @media screen and (max-width: 480px) { 
     .img-wpblog{width:25%; padding:1em;}
 }
 
 
 
 
 
 /*--------------------------- WPRESS Blog */
  .text-hidden{display:none;}
 
  .text-truncated, .text-hidden{cursor:pointer;}
  .text-truncated:hover{color:red;}
  .deletee {width:2em;} /* delete icon */
  
  
 .navbar-nav1:hover < .testt { 
     border: 1px solid red; 
}

.dropdown-submenu {display:none;}

.dropdown-submenu {
    position:absolute;
}
.dropdown-submenu {
	background:white; border:1px solid black; width:110%;
    list-style-type:none;
	padding:6px;
	margin-top:1px
    top:3em;
    left:25%;
    margin-top:-6px;
} 

 
 /* Mobile */
 @media screen and (max-width: 480px) { 
     .dropdown-submenu{width:60%; left:35%;}
 }
/* Wpress span text */
.smallX{
	font-size:0.7em; margin-top:-0.8em;
}

.borderX {border: 0.5px solid grey; margin-bottom: 1em;}
.hrX {width:60%;}
/*--------------------------- END  WPRESS Blog */









/*--------------------------- Multilanguage -- */
 
 /*small flags in dropdown in multilanguage/index */
.small-flag img {
	width: 6%;
}

.flag  {
	width: 6%;
}
/*--------------------------- End Multilanguage -- */







/*--------------------------- My custom exception -- */
.img-exception {width:30%; margin: 0 auto;}
 /* Mobile */
 @media screen and (max-width: 480px) { 
     .img-exception {width:50%; margin: 0 auto;}
 }
/*--------------------------- End My custom exception -- */