/* change/override the color of odd rows in Bootstrap table .table-striped  */
/*
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: red; 
 }
 */
 
/* change/override the hover color of Bootstrap table .table-hover */
.table-hover> tbody> tr:hover{
    background-color:yellow !important;
}

/* class for delete icon, used in \App\Http\MyHelpers\Rbac\Helper_Rbac::displayUserRoles($a, true)  */
.text-delete{
	color:red;
	cursor:pointer;
	border:1px solid white;
}

.text-delete:hover{
	color: white;
}

.detach-role{
   float:right; 
}